<h1>id: <%= @task.id %> の詳細画面</h1>

<table class="table table-bordered">
  <tr>
    <th>id</th>
    <td><%= @task.id %></td>
  </tr>
  <tr>
    <th>タスク内容</th>
    <td><%= @task.content %></td>
  </tr>
  <tr>
    <th>ステータス</th>
    <td><%= @task.status %></td>
  </tr>
</table>

<% if current_user == @task.user %>
  <%= link_to 'このタスクを編集する', edit_task_path(@task), class: 'btn btn-light' %>
  <%= link_to 'このタスクを削除する', @task, method: :delete, data: { confirm: '本当に削除してよろしいですか？' }, class: 'btn btn-danger' %>
 <% end %>
<%= link_to '一覧画面へ', tasks_path(@task), class: 'btn btn-light' %>

<!--
<p><%= @task.content %></p>
<p><%= @task.status %></p>
<p><%= link_to "[一覧]", tasks_path %></p>
<p><%= link_to "[編集]", edit_task_path %></p>
<%= link_to "[削除]", @task, method: :delete, data: { confirm: '本当に削除してよろしいですか？' } %>
-->